.nav {
  width: 100%;
  height: 100%;
  background-color: var(--Violet-100);
  /* padding: 2rem 1rem; */
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: var(--Violet-800);
  height: 100%;
}
.nav__item {
  margin-left: 2rem;
  font-size: 1.6rem;
}
.nav__item button {
  /* border: 1px solid var(--Violet-800); */
  display: block;
  background-color: transparent;
  color: var(--Violet-900);
  height: 6rem;
  width: 8rem;
  font-family: 'Vazir';
  /* padding: 1rem 3rem; */
  border: none;
  font-size: 2.6rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.nav__item button:hover,
.nav__item--active button {
  background-color: var(--Violet-50);
  color: var(--Violet-900);
}

.cart-navigation-btn {
  position: relative;
}

.cart-counter-badge {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--Violet-800);
  color: var(--Violet-50);
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
}
