.cart-page {
  justify-items: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.cart-page > a > button {
  padding: 2rem 3rem;
}

.cart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 1170px;
  gap: 1rem;
}
.product {
  width: 65%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--Violet-100);
  border-radius: 8px;
}
.product__list {
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .cart-wrapper {
    flex-direction: column;
  }
  .product{
    width: 100%;
    
  }

}
