.Product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Violet-50);
  border-radius: 8px;
  min-height: 350px;
}
.Product-item__image {
  height: 70%;
  overflow: hidden;
  display: flex;
}
.Product-item__image img {
  margin: auto;
  width: 70%;
  height: auto;
  border-radius: 8px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 20%;
}
.info__name,
.info__price {
  font-size: 2rem;
  padding: 2rem 1rem;
}
.info__price {
  white-space: nowrap;
}

@media screen and (max-width: 400px) {
  .Product-item {
    justify-content: space-evenly;
    height: 350px;
  }
  .Product-item__image {
    height: 45%;
    width: 100%;
  }
  .Product-item__image img {
    height: 100%;
    width: auto;
  }
  .info {
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
  }
  .info__name,
  .info__price {
    padding: 1rem 1rem;
  }
}
